@import "tailwindcss";

:root {
  --background: #F8F9FA;
  --foreground: #202020;
  --primary : #DE5D83;
  --accent : #FFD700;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary : var(--primary);
  --color-accent: var(--accent);
  --font-serif: var(--font-playfair-serif);
  --font-sans: var(--font-lato-sans);
}

@utility my-container {
  @apply px-2 md:px-4 lg:px-8;
}

@utility cols-view {
  @apply flex flex-col gap-2;
}

@utility rows-view {
  @apply flex flex-row items-center justify-center;
}

@utility main-header {
  @apply font-serif font-semibold text-[13.3vw] md:text-[13.27vw] lg:text-[13.134vw] leading-[86%] tracking-tighter uppercase whitespace-nowrap;
}

@utility logo-header {
  @apply font-serif font-semibold text-base lg:text-2xl leading-[120%] tracking-tight uppercase;  
}

@utility medium-header {
  @apply font-serif font-semibold text-2xl md:text-[32px] lg:text-[40px] leading-[120%] tracking-tight;
}

@utility large-header {
  @apply font-serif font-semibold text-[20vw] leading-[85%] tracking-tighter uppercase;;
}

@utility body-text {
  @apply font-sans text-base lg:text-2xl leading-[120%] tracking-tight;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}


.hide-scrollbar {
  scrollbar-width: none; /* Firefox, Chrome */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}




